vaadin-vertical-layout .layout-routes{
    padding:1em 0.5em 1em 0.5em;
    width:100%;
    transition:0.4;
    height:auto;
    -webkit-transition: background-color .5s linear;
    -moz-transition: background-color .5s linear;
    -ms-transition: background-color .5s linear;
    -o-transition: background-color .5s linear;
    transition: background-color .5s linear;

}

vaadin-vertical-layout .layout-routes:hover{
    width:100%;
    background-color:rgba(22,118,243, 0.2);
    text-decoration:none;
    border-radius:5px;
}

.header {
    padding: 0 var(--lumo-space-m);
     background-color: var(--lumo-shade-90pct);
}
